/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Grid related style properties
+++++++++++++++++++++++++++++++++++++++++++


grid
grid-area
grid-auto-columns
grid-auto-flow
grid-auto-rows
grid-column
grid-column-end
grid-column-gap
grid-column-start
grid-gap
grid-row
grid-row-end
grid-row-gap
grid-row-start
grid-template
grid-template-areas
grid-template-columns
grid-template-rows






Grids
-----------------------
https://www.mozilla.org/en-US/developer/css-grid/

http://caniuse.com/#feat=css-grid

https://www.w3.org/TR/css3-grid-layout/

https://blogs.msdn.microsoft.com/ie/2011/04/14/ie10-platform-preview-and-css-features-for-adaptive-layouts/

https://css-tricks.com/snippets/css/complete-guide-grid/


https://alligator.io/css/css-grid-layout-fr-unit/

https://css-tricks.com/introduction-fr-css-unit/


https://gridbyexample.com/examples/





CSS NAming
------------------------
http://getbem.com/naming/

https://www.sitepoint.com/title-css-simple-approach-css-class-naming/

http://bdavidxyz.com/blog/how-to-name-css-classes/

https://blog.toughbyte.com/blabla-9fd86eae4e6c

https://medium.com/@drublic/css-naming-conventions-less-rules-more-fun-12af220e949b

https://zellwk.com/blog/css-architecture-1/


auto;
inherit;
*/

/* ==========================================================================
   Demo of Grid related properties
   ========================================================================== */

   
*,
*:after,
*:before{
  box-sizing: border-box;
}

body{
  margin:0;
}

/*----------  Site Header  ----------*/
.site-header{
  background-color: #2C5EDE;
  color:#FFF;
  padding:5px;
}
.site-header h1 a{
  color:#FFF;
}
.site-header nav ul{
  margin:0 0 5px;
}
.site-header nav li a{
  color:#FFF;
  text-decoration: none;
  padding:3px 8px;
  margin:0 3px;
  font-size:14px;
  text-transform: uppercase;
}
.site-header nav li a:hover,
.site-header nav li.active a{
  color:#2C5EDE;
  background-color: #fff;
  border-radius:4px;
}

/*----------  Site footer  ----------*/
.site-footer{
  background-color: #DADADA;
  text-align: center;
  padding:5px;
}
/*----------  Common Layout  ----------*/
.wrapper{
  min-height:500px;
}
.bg-blue{background-color: #C5D4FF; }
.bg-green{background-color: #C4F0BA; }
.container{
  margin-left: auto;
  margin-right: auto;
  padding:5px 15px;
  border: solid 2px red;
}
@media (min-width:768px) {
  .container{max-width: 768px; }
}
@media (min-width:980px) {
  .container{max-width: 980px; }
}
@media (min-width:1200px) {
  .container{max-width: 1200px; }
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Slabo 27px', serif;
}
.title{
  text-align: center;
  color:#2C5EDE;
  border-bottom: double 4px #2C5EDE;
}

/*===============================
=            Columns            =
===============================*/
.boxa{
  border: dotted 1px red;
  margin:20px 0;
  padding:20px;
  background-color: #fff;
}

@media (min-width:768px){
  .column-way{
    column-count:2;
    column-gap:30px;
    column-rule: dotted 1px grey;
  }
}
@media (min-width:980px){
  .column-way{
    column-count:3;
  }
}
/*=====  End of Columns  ======*/

/*=================================
=            CSS grids            =
=================================*/
.parent{
  background-color: #fff;
  padding:10px;
  margin:20px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(60px, auto);
}
.parent > header{
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #C20ADD;
  color:#FFF
}
.parent > .banner{
  grid-column-start: 1;
  grid-column-end: 5;
}
.parent > .box1{
  grid-column-start: 1;
  grid-column-end: 5;
}
.parent > .box2{
  grid-column-start: 1;
  grid-column-end: 5;
}
.parent > .box3{
  grid-column-start: 1;
  grid-column-end: 4;
}
.parent > .box4{
  grid-column-start: 4;
  grid-column-end: 5;
}
.parent > .child{
  border: solid 1px red;
  text-align: center;
}
.banner img{
  width:100%;
  display: block;
}
@media (min-width:768px) {
  .parent{
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
  }
  .parent > header{
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .parent > .banner{
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .parent > .box1{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .parent > .box2{
    grid-column-start: 5;
    grid-column-end: 9;
  }
  .parent > .box3{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .parent > .box4{
    grid-column-start: 5;
    grid-column-end: 9;
  }
}
@media (min-width:980px) {
  .parent{
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
  }
  .parent > header{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: #C20ADD;
    color:#FFF
  }
  .parent > .banner{
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .parent > .box1{
    grid-column-start: 9;
    grid-column-end: 13;
  }
  .parent > .box2{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .parent > .box3{
    grid-column-start: 5;
    grid-column-end: 11;
  }
  .parent > .box4{
    grid-column-start: 11;
    grid-column-end: 13;
  }
}



/*=====  End of CSS grids  ======*/



/*=====  Grid based boxes  ======*/


.grid-list1{
    margin: 50px auto;
    background-color: lightblue;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
@media (min-width:560px){
    .grid-list1{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:768px){
    .grid-list1{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:980px){
    .grid-list1{
        grid-template-columns: 1fr 1fr 2fr;
    }
}

.box{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 4em;
}






